img{
    width:100%;
    object-fit: contain;
}
.card{
    width: 90%;
    padding: 20px;
    /* border: 1px solid black; */
    margin-bottom: 10px;
    break-inside: avoid;
    background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 16px;
}