<p>home works!</p>
<button (click)="goToAuth()">AUTh</button>
<h1>{{isAuthenticated}}</h1>
<h1 *ngIf="isAuthenticated"> you are Logged in</h1>
<h1 *ngIf="!isAuthenticated"> please log in</h1>


<form #coinform="ngForm">
     <label for="coinid">CoinId:</label>
     <input type="text" name="coinid" ngModel/>
     <button (click)="addcoinid(coinform)" [disabled]="!canAdd">ADD</button>
</form>
<button (click)="getid()" [disabled]="!canAdd">GET ID</button>
<button (click)="goWatchList()">GO TO WATCH LIST</button>
{{test_var}}